@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
  font-family: 'Mulish', sans-serif;
}
.dark2-color {
  color: rgb(66, 66, 71);
}
.org-color {
  color: rgb(255, 84, 0);
}
h3 {
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  text-align: center;
}
p {
  margin: auto;
  align-items: center;
}
h1 {
  align-items: center;
}
/* defult style */
* {
  margin: 0;
}
.container {
  width: 90%;
  margin: 5rem auto;
  border-radius: 1rem;
  margin-top: 100px;
}
/* Nav bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  width: 280px;
}
.nav-logo img {
  width: 48px;
  height: 56px;
  margin-right: 0.5rem;
}
.nav-option {
  display: flex;
  justify-content: space-around;
  gap: 2.8rem;
}
.nav-option p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 23px;
  cursor: pointer;
}
/* <!-- Explore travel section --> */

.explore-container {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0)
    ),
    url(../Images/background1.png);
  padding: 7rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.explore-title {
  align-items: center;
  justify-content: center;
}

.explore-title h3 {
  font-size: 4rem;
  font-weight: 800px;
  color: rgb(255, 255, 255);
}
.explore-title p {
  font-size: 1rem;
  font-weight: 400px;
  color: rgb(255, 255, 255);
  padding: 1.5rem 0;
}
.explore-input {
  margin-top: 2rem;
  border-radius: 8px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(2px);
  margin-top: 64px;
}
.explore-input input,
select,
button {
  margin: 8px;
}
input,
select,
button {
  width: 170px;
  height: 40px;
  margin: 0 1rem;
  padding: 0 0.5rem;
  border-radius: 8px;
  border: none;
}
.btn-primary {
  background-color: rgb(255, 84, 0);
  color: white;
}

/* popular tour start */
.popular-tour {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.tour-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: left;
  padding: 5px;
}
.tour-title h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
}
.tour-title li {
  row-gap: 5px;
}
/* .tour-title button {
  align-self: start;
} */
.destination-section img {
  width: 100%;
  height: 300px;
}
.destination-header {
  text-align: center;
}
.destination-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.destination-header p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}
.country-card {
  position: relative;
}
.country {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.75rem;
  font-weight: 900px;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
}
.row-1,
.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
  gap: 1rem;
  align-items: center;
}
.row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0;
  gap: 1rem;
  align-items: center;
}
